<h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => 'form-vertical', :method => :post }) do |f| %>
  <%= f.error_notification %>
  <%= render 'form_new', :f => f %>
<% end %>
<%= render "links" %>
