<div class="accordion" id="renter-profile-nav">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#contactInfo" class="accordion-toggle data-toggle="collapse" data-target="contactInfo">Contact Info</a>
    </div>
    <div id="contactInfo" class="accordion-body collapse in" data-parent="#renter-profile-nav">
      <div class="accordion-inner"
      <ul>
        <li> first link</li>
        <li> second link </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      Employment
    </div>
    <div id="employment"class="accordion-body collapse">
      <li> first employment link</li>
      <li> second employment link </li>
      </ul>
    </div>
  </div>
</div>