<h2>Documents <%= link_to 'New', new_document_path, :class => 'btn btn-mini' %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><h4><%= link_to document.name, document_path(document) %></h4></td>
        <td>
          <%= link_to 'Edit', edit_document_path(document), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', document_path(document), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
