<h3>Renter Dashboard</h3>
<div class="table-thirds">
<%= render "documents/my_documents" %>
</div>
<div class="table-thirds">
<%= render "packages/my_packages" %>
</div>
<div class="table-thirds">
  <%= render "listings/shared_listings" %>
</div>